.app {
    background-color: black;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #708090;
    color: #234c5e;
}

.custom-popup .leaflet-popup-content {
    background: #708090;
}
