.map-container {
    background-color: black;
    margin-bottom: 20px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#4682b4;
    color: #234c5e;
}

.custom-popup .leaflet-popup-content {
    background: purple;
}

.custom-popup .leaflet-popup-tip-container {
    background-color: black;
}

.popImage {
    height: 150px;
    width: 300px;
}

.emptyDiv {
    background: black;
    margin-top: -20px;
    margin-bottom: -10px;
    color: black;
}

.form {
    margin-top: 10px;
}