.map-container {
    background-color: black;
    margin-bottom: 20px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: red;
    color: #234c5e;
}

.custom-popup .leaflet-popup-content {
    background: red;
}

.custom-popup .leaflet-popup-tip-container {
    background-color: black;
}

.leaflet-pane .leaflet-marker-pane {
    height: 15px;
    width: 10px;
}

.form {
    margin-top: 10px;
}