.nav-linkRed {
    color: rgb(196, 186, 206);
}

.navbar-expand-lg {
    margin-bottom: 0px;
    height: 80px;
    color: black;
}

.fa-heart {
    color: green;
    margin-left: 10px;
}

.navbar {
    background-color: rgb(25, 32, 46);
}

.coverNav {
    height: 75px;
    width: 220px;
    margin-top: -25px;
    margin-left: -26px;
}

.storm {
    color: rgb(184, 174, 174);
    margin: 0px 0 5px 95px;
    font-family: "Courier New", Courier, monospace;
}

.counter {
    margin: 0px 0px 25px 200px;
}


.Countdown{
    margin: 10px auto;
    padding-bottom: 0px;
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 20px 20px 0px 45px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
    font-size: 20px;
    color: red;
  }

  .Countdown-col-element span{
    font-size: 10px;
    color: rgb(230, 75, 4);
  }


